@import "../../../styles/colors.scss";


    .submit {
        border-radius: 28px;
        background-color: $primary;
        color: white;
        font-family: HelveticaNeueMedium;
        width: 170px;
        font-weight: bold;
       
        margin-top: 40px;
        &:hover {
            color: white;
        }
    }
    .Certificates {
        font-size: 12px;
        margin-bottom: 10px;
    }