@import "../../../styles/colors.scss";


   .submit {
    border-radius: 28px;
    background-color: $primary;
    color: white;
    width: 170px;
    font-weight: bold;
    &:hover {
        color: white;
    }
}