.section {
    margin-top: 50px;
    margin-bottom: 50px;
    .title-card {
      padding: 29px 18px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      .line {
          display: inline;
          height: 2px;
          background-color: #C4C4C4;
          width: 70px;
  
      }
    }
  
    .step-card {
      padding : 30px 20px;
    }
  }